<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MercadoLiebre</title>
    <link href="css/styles.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <header>
  <div class="header">
    <div class="logo-search">
        <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo mercadoliebre"/>
      <div class="search-bar">
        <input type="text" placeholder="Buscar productos, marcas"/>
        <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
      <p class="cuotas-credito">
        <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
      </p>
  </div>
      <nav>
        <ul class="menu-left" type="none">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="menu-right" type="none">
          <li>
            <a href="/register">Creá tu cuenta</a><i class="fa-sharp fa-solid fa-address-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a><i class="fa-sharp fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="#">Mis Compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
      <div class="burguer-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main class="main-register">
      <form action="/" method="get">
      <div class="nombre">
        <label for="nombre"></label>
        <input type="text" placeholder="Nombre y apellido" id="nombre" required>
      </div>
      <div class="usuario">
        <label for="usuario"></label>
        <input type="text" placeholder="Nombre de usuario" id="usuario" required>
      </div> 
      <div class="email">
        <label for="email"></label>
        <input type="email" placeholder="E-mail" id="email" required>
      </div>
      <div class="fecha"> 
        <legend>Fecha de nacimiento</legend>
        <label for="fecha"></label>
        <input type="date" id="fecha" required>
      </div> 
      <div class="domicilio">
        <label for="domicilio"></label>
        <input type="text" placeholder="Domicilio" id="domicilio" required>
      </div> 
      <div class="perfil-usuario">
        <legend>Perfil del usuario</legend>
        <label for="comprador">Comprador</label>
        <input type="radio" name="perfil-usuario" id="comprador" value="comprador">
        <label for="vendedor">Vendedor</label>
        <input type="radio" name="perfil-usuario" id="vendedor" value="Vendedor">
      </div>
      <div class="interes">
        <legend>Intereses</legend>
        
        <input type="checkbox" name="interes" id="cbox1" value="Electro">
        <label for="cbox1">Electro</label>

        <input type="checkbox" name="interes" id="cbox2" value="Moda">
        <label for="cbox2">Moda</label>

        <input type="checkbox" name="interes" id="cbox3" value="Hogar">
        <label for="cbox3">Hogar</label>
        
        <input type="checkbox" name="interes" id="cbox4" value="Juguetería">
        <label for="cbox4">Juguetería</label>
        
        <input type="checkbox" name="interes" id="cbox5" value="Vida Sana">
        <label for="cbox5">Vida sana</label>
      </div>
      <div class="foto-perfil">
        <legend>Selecciona una foto de perfil</legend>
        <label for="foto-perfil"></label>
        <input type="file" accept=".jpg" id="foto-perfil" required>
      </div>
      <div class="password">
        <label for="password"></label>
        <input type="password" placeholder="Contraseña" id="password" required>
        <label for="checkpassword"></label>
        <input type="password" placeholder="Confirmar contraseña" id="checkpassword" required>
      </div>
      <div class="button">
        <button type="submit">Enviar</button>
        <button type="submit">Borrar</button>
      </div>
      </form>
    </main>
    <footer>
      <section>
        <div class="icon-footer">
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <h4><strong>Pagá con tarjeta o en efectvo</strong></h4>
        <p class="body-text">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <div class="icon-footer">
          <i class="fa-solid fa-gift"></i>
        </div>
        <h4><strong>Envío gratis desde $2500</strong></h4>
        <p class="body-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <section>
        <div class="icon-footer">
          <i class="fa-solid fa-user-shield"></i>
        </div>
        <h4><strong>Seguridad, de principio a fin</strong></h4>
        <p class="body-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque 
            estás siempre protegid@.</p>
      </section>
      <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>